@import "tailwindcss";

@theme {
  --font-rock-salt: "Rock Salt", cursive;
  --tracking-1: 0.17em;
}

@layer components {
  .rock-salt-text {
    @apply font-rock-salt tracking-1;
  }
}

html, body, #root {
  height: 100%;
}
